<div class="container mt-3" >
  <ul class="nav justify-content-center">
    <li class="nav-item"><button (click)="goTo('/products')" [ngClass]="currentPath=='/products'?'btn btn-primary ms-2':'btn ms-2 btn-outline-primary'">Products</button></li>
    <li class="nav-item"><button (click)="goTo('/clients')" [ngClass]="currentPath=='/clients'?'btn btn-primary ms-2':'btn ms-2 btn-outline-primary'">Clients</button></li>
    <li class="nav-item"><button (click)="goTo('/sales')" [ngClass]="currentPath=='/sales'?'btn btn-primary ms-2':'btn ms-2 btn-outline-primary'">Sales</button></li>
  </ul>
</div>
<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
